@rendermode InteractiveServer
@page "/dev"
@using DoCert.Services
@using SoloX.BlazorJsBlob
@inject IJSRuntime Js
@inject IBlobService BlobService
@inject FakeDataService FakeDataService
@inject IDataService DataService

<h3>Development</h3>

<HxButton Icon="@BootstrapIcon.FiletypeCsv" OnClick="HandleFakeCsvDonatesClick" Text="Prepare fake CSV donates"></HxButton>

<HxButton Icon="@BootstrapIcon.DatabaseAdd" OnClick="HandleSeedData" Text="Seed data into DB"></HxButton>